<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <button v-if="state==='default'" @click="changeState('edit')" class="btn btn-primary">Add Item</button>
            <button v-else @click="changeState('default')" class="btn btn-cancel">Cancel</button>
        </div>
        <div v-if="state==='edit'" class="add-item-form">
            <!-- shorthand for v-on: is @ -->
            <input type="text" v-model="newItem" placeholder="Add an Item" @keyup.enter="saveItem">
            <!-- shorthand for v-bind is : -->
            <button class="btn btn-primary" @click="saveItem" :disabled="newItem.length===0">Save</button>
        </div>
        
        <ul>
            <li v-for="item in items" :class="[item.purchased ? 'strikeout' : '', item.highPriority ? 'priority' : '']" @click = "togglePurchase(item)">{{item.label}}</li>
            <p v-if="items.length === 0">Nice! you have bought all the items.</p>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var shoppingList = new Vue({
            el : "#shopping-list",
            data:{
                state:"default",
                header:"Shopping List App",
                newItem: "",
                items:[
                    {
                        label:"Tomatoes",
                        purchased:false,
                        highPriority:false,
                    },
                    {
                        label:"Coriander",
                        purchased:true,
                        highPriority:false,
                    },
                    {
                        label:"Potato",
                        purchased:false,
                        highPriority:true,
                    },
                ]
            },
            methods: {
                saveItem : function(){
                    this.items.push({
                        label:this.newItem,
                        purchased:false,
                        highPriority:false,
                    },);
                    this.newItem = "";
                },
                changeState : function(newState){
                    this.state = newState;
                    this.newItem = "";
                },
                togglePurchase:function(item){
                    item.purchased = !item.purchased;
                }
            }
        });
    </script>
</body>
</html>